.header {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #2563eb;
  cursor: pointer;
}
.header label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth-btn {
  display: flex;
}

.auth-btn button {
  padding: 0.5rem 1.25rem;
  margin-left: 1rem;
}

.btn-login {
  background-color: transparent;
  color: #2563eb;

  &:hover {
    background-color: #e0e7ff;
    color: #1e3a8a;
  }
}

.btn-register {
  background-color: #2563eb;
  color: white;
  box-shadow: 0 2px 6px rgba(37, 99, 235, 0.3);

  &:hover {
    background-color: #1e40af;
    box-shadow: 0 2px 6px rgba(30, 64, 175, 0.5);
  }
}
