/* Import Google Fonts with fallback */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  --primary-btn-bg: #2563eb;
  --primary-btn-hover: #e0e7ff;
  --secondary-btn-hover: #1e40af;
}

* {
  /* box-sizing: border-box; */
  /* margin: 0; */
  /* padding: 0; */
}
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.5;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  /* border: none; */
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, box-shadow 0.2s ease,
    transform 0.2s ease;
}
button:focus {
  outline: 3px solid #2563eb;
  outline-offset: 2px;
}
